<h1>Listing sessions</h1>

<% if @user %>
<table>
  <tr>
    <th>User name</th>
    <th>Company</th>
  </tr>

  <tr>
    <td><%= @user.user_name %></td>
    <td><%= @user.company.company_name %></td>
  </tr>
</table>
<% end %>

<br />

<%= link_to 'New Session', login_path %>
<% if @user %>
|
<%= link_to 'Destroy Session', logout_path %>

<% end %>

